[submodule "bundle/Align"]
	path = bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "bundle/SQLUtilities"]
	path = bundle/SQLUtilities
	url = https://github.com/vim-scripts/SQLUtilities.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/phpcomplete-extended"]
	path = bundle/phpcomplete-extended
	url = https://github.com/m2mdas/phpcomplete-extended.git
[submodule "bundle/phpcomplete-extended-symfony"]
	path = bundle/phpcomplete-extended-symfony
	url = https://github.com/m2mdas/phpcomplete-extended-symfony.git
[submodule "bundle/phpcomplete.vim"]
	path = bundle/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim.airline"]
	path = bundle/vim.airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/vim-phpqa"]
	path = bundle/vim-phpqa
	url = https://github.com/joonty/vim-phpqa.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/evidens/vim-twig.git
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/vim-nerdtree-direnter.git"]
	path = bundle/vim-nerdtree-direnter.git
	url = https://github.com/Nopik/vim-nerdtree-direnter.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-php-manual"]
	path = bundle/vim-php-manual
	url = https://github.com/alvan/vim-php-manual.git
[submodule "bundle/vim-symfony"]
	path = bundle/vim-symfony
	url = https://github.com/docteurklein/vim-symfony.git
[submodule "bundle/ctrlp-smarttabs"]
	path = bundle/ctrlp-smarttabs
	url = https://github.com/DavidEGx/ctrlp-smarttabs.git
[submodule "bundle/ctrlp-extensions"]
	path = bundle/ctrlp-extensions
	url = https://github.com/sgur/ctrlp-extensions.vim.git
[submodule "bundle/ctrlp-symfony2.vim"]
	path = bundle/ctrlp-symfony2.vim
	url = https://github.com/voronkovich/ctrlp-symfony2.vim.git
[submodule "bundle/QFEnter"]
	path = bundle/QFEnter
	url = https://github.com/yssl/QFEnter.git
[submodule "bundle/ctrlp-branches"]
	path = bundle/ctrlp-branches
	url = https://github.com/imkmf/ctrlp-branches.git
